*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.col-1-2 {
    width: 49.9999%;
}
.col-5-12{
    flex: 0 0 auto;
    width: 41.66%;
}
.col-7-12{
    flex:  0 0 auto;
    width: 58.33%;
}

main{
    padding:40px 100px;
    background-color: #edf8f8;
    margin: 0;
    min-height: 650px;
}

main h1{
    font-weight: 700;
    color: #00023d;
    position: relative;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 2.5rem;
    text-align: center;
}

main h1::after{
    content: "";
    background-color: #af9839;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: 0;
    transform: translateX(-150%);
}

.illustration img{
    border: 4px solid #af9839;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    object-fit: over;
}

.nav { 
    justify-content:center ;
    margin: 24px 12px 0 12px;

}
.nav button{
    border:2px solid #af9839;
    border-bottom-color: #332b08;
    border-right-color: #332b08;
    padding: 2px 10px;
    border-radius: 6px;
    transition: all 1s;
    color: #af9839;
}
.nav button:hover{
    color: #fff;
    background-color: #504408;
    cursor: pointer;
}
button+button{
    margin-left: 18px;
}

.content{
    text-align: justify;
    margin-bottom: 35px;
}
.content > div{
    padding: 0 12px;
}
.content ul{
    justify-content: space-between;
    list-style-type: none;
}
.content ul li{
    font-size: 20px;
    font-weight: 600;
}

.content ul li:last-child{
    font-size: 17px;
    color: #af9839;
}

.content p{
    margin: 8px 0 16px 0;
    border-top: 1px dotted;
    padding-top: 20px;
    font-size: 16px;
    color:#5c5d85;
}
